@import '../../../styles.scss';

.secondary-button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 30px;
  gap: 10px;

  min-width: 134px;
  height: 48px;

  background: transparent;
  border: 1px solid $color-primary-blue;
  border-radius: $radius-md;
  cursor: pointer;

  /* Button text */
  font-family: $font-body;
  font-style: normal;
  font-weight: 400;
  font-size: $fs-p;
  line-height: 120%;
  color: $color-primary-blue;

  transition: background $transition;

  &:hover {
    background: rgba($color-creme-white, 0.12);
  }

  &:active {
    background: transparent;
  }
}
