<section class="hero">
  <app-burger-menu
    [class.hero__burger-menu]="!isMenuOpen()"
    [class.hero__burger-menu--open]="isMenuOpen()"
    (navigate)="onNavigate($event)"
    (languageChange)="onLanguageChange($event)"
    (menuToggle)="onMenuToggle($event)"
  />

  <app-logo class="hero__logo" />

  <app-social-media class="hero__social" />

  <div class="hero__content">
    <h1 class="hero__name">Michael Friggemann</h1>
    <h2 class="hero__title">FRONTEND DEVELOPER</h2>
  </div>

  @if (!isMenuOpen()) {
    <app-hero-image class="hero__image" />
  }

  <app-arrow-btn direction="down" class="hero__arrow" (click)="scrollToNext()" />
</section>
