@use '../../../styles.scss' as *;

.hover-ellipse {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 10px;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: var(--default-svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 1;
      transition: opacity 0.4s ease-in-out;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: var(--hover-svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0;
      transition: opacity 0.4s ease-in-out;
    }
  }

  &:hover &__background::before {
    opacity: 0;
  }

  &:hover &__background::after {
    opacity: 1;
  }

  &__content {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--auto-size {
    width: 100%;
    height: 100%;
  }
}
