@use '../../../styles.scss' as styles;

.why-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 24px 0;
  gap: 32px;
  width: 100%;
  max-width: 344px;
  margin: 0 auto;

  &__title {
    width: 100%;
    font-family: styles.$font-heading;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    color: styles.$color-primary-blue;
    flex: none;
    order: 0;
    align-self: stretch;
  }

  &__location {
    position: relative;
    width: 100%;
    max-width: 339px;
    min-height: 48px;
    flex: none;
    order: 1;
    display: flex;
    align-items: center;
  }

  &__location-icon {
    position: absolute;
    width: 32.5px;
    height: 40px;
    left: 0;
    top: 3px;
    object-fit: contain;
    animation: fadeIn styles.$transition ease-in;
  }

  &__location-text {
    position: absolute;
    min-height: 26px;
    left: 56.5px;
    top: 14px;
    font-family: styles.$font-body;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    margin: 0;
    white-space: nowrap;

    &--highlight {
      color: styles.$color-primary-blue;
    }

    &--normal {
      color: styles.$color-white;
    }
  }

  &__description {
    width: 100%;
    font-family: styles.$font-body;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: styles.$color-white;
    flex: none;
    order: 2;
    align-self: stretch;
    margin: 0;
  }
}

.cursor {
  animation: blink 1s infinite;
  color: styles.$color-white;
  font-weight: 400;
}

@keyframes blink {
  0%,
  49% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
