.hero-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 0 40px;
  max-width: 1920px;
}

.logoIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.logoCenter {
  justify-content: center;
}

.hero-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.logo-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.logo {
  /* Passe die Größe nach Bedarf an */
  max-width: 200px;
  height: auto;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column; /* oder column, je nach gewünschtem Layout */
}

.nav {
  grid-row: 1/1;
  width: 100vw;
}
