@use '../../../styles.scss' as styles;

.logo {
  display: inline-block;
  transition: transform 0.6s ease;
  transform-style: preserve-3d;

  &:hover {
    transform: rotateY(180deg);
  }

  img {
    display: block;
    width: auto;
    height: 100%;
  }
}
