@use '../../../styles.scss' as styles;

.logo {
  display: inline-block;
  transition: transform 400ms ease;

  &:hover {
    transform: rotate(120deg);
  }

  img {
    display: block;
    width: auto;
    height: 100%;
  }
}
