@use '../../../styles.scss' as *;

.arrow-btn {
  width: 38px;
  height: 89px;
  border: 1px solid transparent;
  border-radius: $radius-md;
  background: transparent;
  cursor: pointer;
  transition: $transition;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  .arrow-icon {
    width: 38px;
  }

  &:hover {
    background: rgba(248, 245, 236, 0.12);
  }
}
