<section class="why-me" *transloco="let t">
  <h2 class="why-me__title" appScrollAnimate animation="fade-up">{{ t('whyme.headline') }}</h2>

  <div class="why-me__content">
    <div class="why-me__location" appScrollAnimate animation="fade-left" [delay]="100">
      @if (showIcon()) {
        <div class="why-me__location-icon-wrapper">
          <img [src]="iconPath()" alt="Location icon" class="why-me__location-icon" />
        </div>
      }
      <p class="why-me__location-text">
        <span class="why-me__location-text--highlight">{{ t('whyme.iAm') }}</span>
        <span class="why-me__location-text--normal">{{ displayedText() }}</span>
        <span class="cursor">|</span>
      </p>
    </div>

    <div class="why-me__info" appScrollAnimate animation="fade-right" [delay]="200">
      <p class="why-me__description">{{ t('whyme.description') }}</p>
      <button class="why-me__button">{{ t('whyme.button') }}</button>
    </div>
  </div>
</section>
