.social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  gap: 16px;
  width: 30px;
  height: 122px;
}

.social-link {
  width: 30px;
  height: 30px;
  flex: none;
  display: block;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}
